# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/admin/
staticfiles/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

#images
book_images/
# Environment variables
.env
.env.local
.env.*.local

# Node modules (if using any JavaScript tools)
node_modules/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini