{% csrf_token %}
<nav class="navbar">
    <div class="left-section">
        <a href="{% url 'index' %}" class="navbar-brand">LMS</a>
    </div>
    <div class="nav-buttons">
        {% if user.is_authenticated %}
            <span class="nav-user">Welcome, {{ user.username }}</span>
            <a href="#" class="nav-button" id="logoutBtn">Logout</a>
        {% else %}
            <a href="{% url 'register' %}" class="nav-button">Register</a>
            <a href="{% url 'login' %}" class="nav-button">Login</a>
        {% endif %}
    </div>
</nav>