
.left-NavBorder{
    background-color: #008A90;
    border-radius: 15px;
    width: 10rem;
}

.NavigationButtonsColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.left-NavBorder_NavigationIcons{
    font-size: 1.2rem;
}

.AddBookButton{
    background-image: url('../img/addNewBookIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.AddBookButton:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.BorrowedBooksButton{
    background-image: url('../img/addNewBookIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.BorrowedBooksButton:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.ViewBooksButton{
    background-image: url('../img/searchBookIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.ViewBooksButton:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.NavigationButton{
}



.NavigationButtonText{
}


