body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/login-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;  
    min-height: calc(100vh - 70px);
}

.login-container {
    background-color: #222831;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-title {
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 30px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    outline: none;
    border-color: #008A90;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #008A90;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.login-button:hover {
opacity: 70%
}

.terms-text {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    opacity: 0.8;
}
.login-link {
    text-align: center;
    margin-top: 15px;
    color: #eeeeee;
}
a {
    color: #00adb5;
    text-decoration: none;
}

a:hover {
    color: #008a90;
    text-decoration: underline;
}