.navbar {
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-brand {
    color: #222831;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
    margin: 0;
    max-width: 800px;  
    width: 100%; 
}

.search-icon {
    position: absolute;
    left: 12px;
    color: #666;
    z-index: 1;
}

.search-category {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: transparent;
    color: #222831;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    order: 2;  
}

.search-category option {
    background-color: white;
    color: #222831;
}

.search-category option:hover,
.search-category option:focus,
.search-category option:active,
.search-category option:checked {
    background-color: #008A90 !important;
    color: white;
}

.search-label {
    color: #222831;
    font-weight: 600;
    font-size: 1.1rem;
}

.search-bar {
    width: 100%;
    padding: 8px 8px 8px 35px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: transparent;
    color: #222831;
    font-size: 1rem;    
}

.search-bar::placeholder {
    color: #666;       
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.nav-button {
    padding: 0 2rem;
    background-color: transparent;
    color: #222831;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;  
}

.nav-button:hover {
    background-color: #222831;
    color: white;
    opacity: 1;
    text-decoration: none;
}
