


.pagination-numbers {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.page-number {
    padding: 8px 16px;
    border: 1px solid #393E46;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #222831;
    transition: all 0.3s ease;
}

.page-number:hover {
    background-color: #008a90;
    transform: scale(1.05);
}

.page-number.active {
    background-color: #008a90;
    border-color: #008a90;
}
