
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    color: #eeeeee;
    line-height: 1.4;
    background-image: url('../img/Register-BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    
}



.registration-container {
    background-color: #222831;
    border-radius: 40px;
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    margin: 1rem;
    margin-top:5rem;
    
}


h1 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.form-group {
    margin-bottom: 30px;
    
}

label {
    display: block;
    margin-bottom: 7px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.6rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: #eeeeee;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #00adb5;
}


.checkbox-group {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #eeeeee;
}

.checkbox-group input {
    margin-right: 10px;
}


button {
    width: 100%;
    padding: 0.8rem;
    background-color: #00adb5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #008a90;
}



.login-link {
    text-align: center;
    margin-top: 15px;
    color: #eeeeee;
}

a {
    color: #00adb5;
    text-decoration: none;
}

a:hover {
    color: #008a90;
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 4px;
    display: block;
  }
  .success-message {
    color: green;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
    display: none;
  }
  
.main-content {
  
    min-height: calc(100vh - 70px);
}
