body{
    font-family: 'Lato', sans-serif;
    background-color: #222831;
    color: white;
    margin: 0;
    padding: 0;
}

.AdminViewBook_Container{
    display: flex;
    flex-direction: row;
}


.column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

button{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.CardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bookImage{
    background-image: url('../img/testImage.jpeg');
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.bookCard:hover{
    transform: scale(1.05);
}

.bookCard{
    background-color: #393E46;
    border-radius: 15px;
    transition: transform 0.2s ease;
}


.BookCards_ShowNextButton{
    width: 125px;
    height: 30px;
    border-radius: 10px;
    background-color: #008A90;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.BookCards_ShowPreviousButton{
    width: 125px;
    height: 30px;
    border-radius: 10px;
    background-color: #008A90;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.BookCards_ShowPreviousButton:disabled, .BookCards_ShowNextButton:disabled {
    background-color: #393E46;
    cursor: not-allowed;
    opacity: 0.7;
}

.ButtonRow{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.AdminViewBook{
    margin-top: 4rem;
    margin-left: 15rem;
}

.AdminViewBook_Title{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.bookInfo{
    margin-left: 1rem;
}
