{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="{% static 'css/BorrowedBooksList.css' %}">
    <link rel="stylesheet" href="{% static 'css/LeftNavBorder.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/pagiationNumbers.css' %}">
</head>
<body>
    {% include 'Includes/navbar.html' %}
    <section class="BorrowedBooks_Container">
        <div class="left-NavBorder">
            <div class="left-NavBorder_NavigationIcons">
                <div class="NavigationButtonsColumn">
                    <div class="NavigationButton">
                        <a href="{% url 'view_books' %}">
                            <button class="ViewBooksButton"></button>
                        </a>
                    </div>
                    <p class="NavigationButtonText">View Books</p>
                    <div class="NavigationButton">
                        <a href="{% url 'borrowed_books_list' %}">
                            <button class="BorrowedBooksButton"></button>
                        </a>
                    </div>
                    <p class="NavigationButtonText">Borrowed Books</p>
                </div>
            </div>
        </div>
        <div class="BorrowedBooksCardsContainer">
            <h1 class="BB_Cards_Title">Borrowed Books</h1>
            <div class="BB_Card_List">
                <!-- Borrowed Cards Goes Here -->
            </div>
            <div class="ButtonRow">
                <div class="pagination-numbers"></div>
            </div>
        </div>
    </section>
    {% include 'Includes/footer.html' %}
    <script src="{% static 'js/BorrowedBooksList.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
