{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditBook</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/EditBook.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/LeftNavBorder.css' %}">
</head>
<body>
    {% include 'Includes/navbar_withoutSearch.html' %}
    <div id="resultMessage">
        <span id="resultMessageText">message Box</span>
    </div>
    <section class="container">
        <div class="left-NavBorder">
            <div class="left-NavBorder_NavigationIcons">
                <div class="NavigationButtonsColumn">
                    <div class="NavigationButton">
                        <a href="{% url 'view_books' %}">
                            <button class="ViewBooksButton"></button>
                        </a>
                    </div>
                    <p class="NavigationButtonText">View Books</p>
                    <div class="NavigationButton">
                        <a href="{% url 'add_new_book' %}">
                            <button class="AddBookButton"></button>
                        </a>
                    </div>
                    <p class="NavigationButtonText">Add New Book</p>
                </div>
            </div>
        </div>
        <form class="EditBookForm" method="POST">
            {% csrf_token %}
            <h1 class="EditBookForm_Title">Edit Book</h1>
            <div class="Edit_Container">
                <div class="column">
                    <div class="row">
                        <label for="Book_TitleInput" class="EditBookForm_InputLabel">
                            <br>  Book Title  <br>
                            {{ form.title }}
                        </label>
                    </div>
                    <div class="row">
                        <label for="Book_AuthorInput" class="EditBookForm_InputLabel">
                            <br> Author <br>
                            {{ form.author }}
                        </label>
                        <label for="Book_CategoryInput" class="EditBookForm_InputLabel">
                            <br>  Category  <br>
                            {{ form.category }}
                        </label>
                    </div>
                    <div class="row">
                        <label for="Book_DescriptionInput" class="EditBookForm_InputLabel">
                            <br> Description <br>
                            {{ form.description }}
                        </label>
                    </div>
                    <div class="row">
                        <button id="EditBookForm_SaveButtonId" 
                                class="EditBookForm_SaveButton">Save Changes</button>
                        <button type="button" class="EditBookForm_CancelButton">Cancel Changes</button>
                    </div>
                </div>
                <div class="column">
                    <div class="row">
                        <img src="{{ image_url }}" id="EditBookForm_bookImage">
                    </div>
                    <div class="row image-upload-container">
                        <label class="upload-label">Change Book Image:</label>
                        <label class="EditBookForm_ChangeImageButton">
                            + Select Image
                            <input type="file" id="imageUpload" accept="image/*" style="display: none;">
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </section>{% include 'Includes/footer.html' %}
    <script type="module" src="{% static 'js/EditBook.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>