{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'Includes/navbar.html' %}
    <div class="main-content"> 
        <div class="explore">Explore</div>
        <div class="books">Books</div>
        <div class="qoute">Discover and Enroll in a wide range of books offered by our library</div>
        <a href="{% url 'view_books' %}" class="nav-link">Browse Books</a>
    </div>
    {% include 'Includes/footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>