body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/Welcome-BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    align-items: center;
}


h1 {
    color: #222831;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: calc(100vh - 70px);
}


.container {
    width: 100%;
    height: auto;
    position: relative;
    

}

.container img {
    width: 100%;
}


.container .lms {
    
    font-size: 40px;
    position: absolute;
    color: white;
    left: 20px;
    top: 7px;
    
}


 .explore {
    margin-top: 150px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
        font-size: 90px;
    color: white;
    left: 320px;
    top: 100px;
    
}
 .books {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 90px;
    color: white;
    left: 335px;
    top: 160px;
    
}
.qoute {
    font-size: 20px;
    color: white;
    left: 180px;
    top: 230px;
    
}
.button-getStarted{
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    left:345px;
    top: 280px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #008a90;
    height: 40px;
    width: 90px;
    font-weight: bold;
    transition: background-color 0.15s;
}
.button-getStarted:hover{
    color: #025a5f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.nav-link {
    display: inline-block;
    padding: 15px 40px;
    font-size: 1.2rem;
    color: white;
    background-color: #008a90;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.nav-link:hover {
    transform: scale(1.05);
    background-color: #00a1a8;
    opacity: 0.9;
}
